<html>
<head></head>
<style>
  .head{
     background-color: #2d3e50;
     /* padding-left: 170px; */
     text-align: center;
     padding-top: 50px;
     font-size: larger;
     font-family: 'Courier New', Courier, monospace;
  };
  body{
      background-color: #2d3e50;
  }
</style>
<body>
  <div class = "head" style="color:white;">
  <div style="padding-bottom: 25px; font-size: 40px;">
    <h1>SIGN UP</h1>
    </div>
<form method = "GET" action = "/signupSubmit">
  <div style="padding-top: 100px; font-size: 30px;">
NAME:<input type="text" name = "name"/></div>
<div style="padding-top: 100px; font-size: 30px;">
EMAIL:<input type="text" name = "email"/></div>
<div style="padding-top: 100px; font-size: 30px;">
PHONE:<input type="text" name = "phone"/></div>
<div style="padding-top: 100px; font-size: 30px;">
Password:<input type="text" name="password"/></div>
<div style="padding-top: 100px; padding-bottom: 100px;">
<input type = "submit"/></div>
</div>
</form>
</body>
  </html>